@define-mixin media-query-desktop {
  @media (min-width: 1440px) {
    @mixin-content;
  }
}

@define-mixin media-query-tablet {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin host-border-box {
  :host,
  :host *,
  :host *::before,
  :host *::after {
    box-sizing: border-box;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
